@charset "UTF-8";
/* CSS Document */

body {
	font-family: "museo-sans-rounded", sans-serif;
	color:#fff;
	padding: 0;
	margin: 0;
	height:100vh;
	background: #0067b3;

}

.body-wrapper{
	padding:150px 90px 90px 90px;
}

.header-wrapper {
	margin: 100px 0;
	width:100%;
}

.banner {
	font-size: 50px;
	font-weight: 500;
	width:60%;
	display:inline;
	float:left;
}

.banner img {
	width:100%;
}

#clock{
	display:inline;
	float:right;
	text-align:center;
	font-size:50px;
	width:60%;
	color:#94e3f1;
}
	
.eventsinfo {
	overflow:hidden;
	font-size:25px;
	margin-top:50px;
	column-count: 2;
	column-gap: 50px;
	column-fill:auto;
	height:600px;
}

.eventsinfo #eventtitle {
	font-size: 45px;
	line-height:1.1;
	top:0mm;
	width:100%;
	float:right; /*Set float so eventtime DIV will appear to the right of event title */
	text-align: left;
	font-weight: 500;
	margin-bottom:10px;
	clear:both;
}
	
.eventsinfo #eventtitle a:link {
	text-decoration: none;
	color:#fff;
}
	
.eventsinfo #eventtitle a:hover {
	text-decoration: none;
}

.eventsinfo #eventtitle a:visited {
	text-decoration: none;
	color:#fff;
}

.eventsinfo #eventtime {
	text-align: left;
	float: left;
	margin-right:30px;
	color:#94e3f1;
	font-size: 35px;
	font-weight:700;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	break-after: always;
    -moz-column-break-after: always;
    -webkit-column-break-after: always;
}

.eventsinfo #eventlocation {
	text-align: left;
	float: left;
	color:#94e3f1;
	font-size: 35px;
	font-weight:700;
	margin-bottom:70px;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	break-after: always;
    -moz-column-break-after: always;
    -webkit-column-break-after: always;
}

.eventsinfo #eventdate {
	display:none;
	/*text-align: left;
	color: #666;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 10px;
	line-height: 100%;
	float: left;*/
}


.eventsinfo #eventdescription {
	display: none;
}

/* 

{
	padding-left: 10px;
	padding-top: 3px;
	text-align: left;
	font-size: 11px;
	clear: both;
}

*/

.eventsinfo #eventlibrary {
	display: none;
}
